{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/customer.css' %}">
    
</head>
<body>
    
    {% include 'navbar.html'  %}
    <style>
        table,th,td{
            border: 1px solid black;
            padding: 10px;
        }
    </style>
      {% block content %} 


      {% endblock %}
    
</body>
</html>