{% extends 'base.html' %}
{% load static %}
{% block content %}
<H2>Customer List</H2>
<a href="/order/add/"><button>Add_customer</button></a>

<table>
    <thead>
        <tr>
            <th >Customer_Name</th>
            <th>Customer_Since</th>
            <th>Update</th>
            <th>Delete</th>

        </tr>

    </thead>
    <tbody>
        {% for allcustomer in all_customer %}
        <tr>
            <td>{{allcustomer.customer_name}}</td>
            <td>{{allcustomer.customer_since}}</td>
            <td>  
                <a href="{% url 'update' allcustomer.id  %}">
                    <button>Update</button>
                </a>
            </td>
            <td>  
              <a href="{% url 'delete' allcustomer.id  %}">
                  <button>delete</button>
              </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}